<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank {{authenticationService.LoggedData?.displayName}}
    </ion-title>
    <ion-button color="danger" (click)="authenticationService.SignOut()"><ion-icon name="power-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-item class="mb-3 p-0">
      <ion-title>Chicken Memory</ion-title>
      <ion-button color="danger" (click)="authenticationService.SignOut()"><ion-icon name="power-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
