.btn-block {
  width: 100%;
}

ion-content {
  --background: white;
  --ion-text-color: black;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }

 ion-item {
   --background: white;
 }