<ion-content>
  <br/>
  <ion-grid class="contenido">
    <ion-row>
      <ion-col>
        <section class="center">
          <img [src] = "title">
        </section>
      </ion-col>
    </ion-row>

    <form class="row">

      <div class="mb-2 text-center">
        <h3>Registro</h3>
      </div>

      <ion-item class="mb-3 p-0">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombreUsuario"  #nombreUsuario required></ion-input>
      </ion-item>

      <ion-item class="mb-3 p-0">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="emailUsuario" #emailUsuario required (change)="validateRegisterUser(emailUsuario)"></ion-input>
        <!-- <ion-input type="email" formControlName="emailUsuario" #emailUsuario required></ion-input> -->
      </ion-item>

      <ion-item class="p-0">
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" formControlName="edadUsuario" #edadUsuario required></ion-input>
      </ion-item>
      
      <br/>
        <!-- <ion-button type="button" expand="block">Play</ion-button> -->
        <ion-button
            type="button"
            color="primary"
            expand="block"
            (click)="onPlay(nombreUsuario,emailUsuario,edadUsuario)">
            <ion-icon name="play-outline"></ion-icon>
              Play
        </ion-button>
      <br/>
      <ion-row>
        <ion-col class="size-sm">
            <ion-button
              type="submit"
              color="danger"
              (click)="authService.GoogleAuth()"
                expand="round">
              <ion-icon name="logo-google"></ion-icon>
                  Login
            </ion-button>
        </ion-col>
  
        <ion-col class="size-sm">
          <ion-button
            type="submit"
            color="primary"
            (click)="authService.FBAuth()"
              expand="round">
            <ion-icon name="logo-facebook"></ion-icon>
              Login
          </ion-button>
        </ion-col>
  
        <ion-col class="size-sm">
          <ion-button
            type="submit"
            color="secondary"
            (click)="authService.TwitterAuth()"
              expand="round">
            <ion-icon name="logo-twitter"></ion-icon>
              Login
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>