<ion-content>
  <div class="container p-4">
    <ion-header>
      <ion-toolbar>
        <div class="mb-2 text-center">
          <h3>Historico de jugadas para: <br />{{nameUser}}</h3>
        </div>
      </ion-toolbar>
    </ion-header>
    <br />
    <ngx-datatable
      class="dark p-2"
      [limit]="6"
      [rows]="rows"
      [rowHeight]="50"
      [columns]="col"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
    >
    </ngx-datatable>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-button expand="block" [color]="buttonCustomColor" routerLink="../app-score-five">Volver al top 5</ion-button> -->
    <ion-button expand="block" [color]="buttonCustomColor" routerLink="../app-score-five">👈🏼 Volver al top 5</ion-button>
  </ion-toolbar>
</ion-footer>
