<!-- <ion-header>
  <ion-toolbar>
    <ion-item class="mb-3 p-0">
      <ion-title>Chicken Memory</ion-title>
      <ion-button color="danger" (click)="authService.SignOut()"><ion-icon name="power-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>

<ion-content class = "background">

  <section class="title">
    <h2>Encuentra las parejas para ganar</h2>
  </section>

  <section class="title">
    <h5>Turnos restantes: {{ userLife }}</h5>
	</section>

  <ion-grid>

    <ion-row *ngIf="userWin <= 0">
      <ion-col align-self-center size="12">

        <section class="title">
          <h3>¡Felicitaciones, has ganado!</h3>
          <h3>Puntuación: {{ score }}</h3>

          <img [src] = "imageWin">
        </section>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="userLife <= 0">
      <ion-col align-self-center size="12">

        <section class="title">
          <h3>¡Lo sentimos!</h3>
          <h3>¡Sigue intentandolo!</h3>

          <img [src] = "gameOver">
        </section>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="userWin > 0 && userLife > 0">
      <ion-col align-self-center size="3" *ngFor="let c of cardsArray; let i = index">

        <img [src] = "imageBack"
          *ngIf = "c.pos != selectCard1pos && c.pos != selectCard2pos && c.val > -1"
          (click) = "selectCard(c.pos, c.val, i)"
          class = "imagen-card">

        <img [src] = "imageDir + images[c.val] + '.png'"
          *ngIf = "c.pos == selectCard1pos && c.val > -1"
          class = "imagen-card">

        <img [src] = "imageDir + images[c.val] + '.png'"
          *ngIf = "c.pos == selectCard2pos && c.val > -1"
          class = "imagen-card">

        <img [src] = "imageWhite" *ngIf="c.val == -1">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <br/>
        <section class="title">
          <ion-button
            type="button"
            color="primary"
            style="width: 90%"
            (click)="restartGame()">
            <ion-icon name="refresh-outline"></ion-icon>
              Volver a jugar
          </ion-button>
        </section>
      </ion-col>

      <ion-col>
        <br/>
        <section class="title">
          <ion-button
            type="button"
            color="success"
            style="width: 90%"
            routerLink="../app-score-five">
            <ion-icon name="trending-up-outline"></ion-icon>
              Top Five
          </ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
