

ion-content.background {
    --background: white;
    --ion-text-color: black;
}

ion-col {
    --background: red;
    --border: 5px;
}

.imagen-card {
    width: 100%;
    height: 100%;
    border: solid 2px #000;
    border-radius: 12px;
}