<app-header></app-header>

  <ion-content class = "background">
    <ion-list-header>
      <ion-card-title class="center">Top Five</ion-card-title>
    </ion-list-header>

    <ion-card>
      <ion-list>
        <ion-item *ngFor="let player of (gameScores )?.slice().reverse(); let i = index">
          <ion-label  (click)="onClick(player.player_key)">{{player?.player?.name}}</ion-label>
          <ion-note slot="end"
            [className]="(i==0) ? 'color-1' : ((i==1) ? 'color-2':((i==2) ? 'color-3':((i==3) ? 'color-4':'color-5')))" (click)="onClick(player.player_key)">
            {{player.score}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card>

    <section class="center text-center">
      <ion-row>
        <ion-col class="size-sm">
          <ion-button routerLink="../app-dashboard" type="submit" color="secondary" expand="round">
            <ion-icon name="reload-circle-outline"></ion-icon>
            Play again
          </ion-button>
        </ion-col>
      </ion-row>
    </section>
  </ion-content>
